body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: palevioletred;
}
.pinky,a{
    display: block;
}
#cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: aqua;
    width: 25%;
    border-radius: 5px;
    padding: 20px;
}
form h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
}
form label{
    color: brown;
    font-size: 20px;
}
form .paisa{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
}
form #btn{
    display: flex;
    justify-content: space-between;
}
button{
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: blanchedalmond;
    color: black;
}
#cancel{
    background-color: brown;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.fa-user{
    position: absolute;
    top: 60%;
    left: 3%;
}
#user{
    position: relative;
}